<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EqtyPMS.DAL.Properties.Settings.ConnectionString"
            connectionString="Data Source=MILIND-PC;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

<appSettings>
  <add key="PMSConnection" value="Data Source=MILIND-PC;Initial Catalog=Test;Integrated Security=True"/>
  <add key="DBFilePath" value="C:\Users\Milind\Documents\visual studio 2015\Projects\EqtyPMS\"/>
</appSettings>
</configuration>